<p id="notice"><%= notice %></p>

<h1>Date Notifications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @date_notifications.each do |date_notification| %>
      <tr>
        <td><%= link_to 'Show', date_notification %></td>
        <td><%= link_to 'Edit', edit_date_notification_path(date_notification) %></td>
        <td><%= link_to 'Destroy', date_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Date Notification', new_date_notification_path %>
