<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="columna-azul">
<div class="columna-blanca">

  <h1 class="center">Events</h1>
  <h2>Your events</h2>
  <% @events_own.each do |event| %>

  <h2 class="columna-blanca"><%=event.title %></h2>

    <% unless event.bannerPhoto == nil %>
      <%=link_to image_tag(event.bannerPhoto,style:"with:500px; height:250px", :alt => "rss feed"),event %>
    <% end %>

    <ul class="columna-blanca">
      <li>Ubication: <%= event.ubication %></li>
      <li>User: <%= event.user.name %></li>
      <li><%= link_to 'Show', event %></li>
    </ul>
  <% end %>

  <%= link_to 'New Event', new_event_path %>

</div>
  <div class="columna-blanca">
<table>
  <tbody>
  <h2>Event where you are invited</h2>

  <% @events_invited.each do |event| %>
    <h2><%=event.title %></h2>
    <% unless event.bannerPhoto == nil %>
    <%= image_tag(event.bannerPhoto,style:"with:500px; height:250px", :alt => "rss feed") %>
    <% end %>
    <tr class="columna-blanca">
      <td>Ubication: <%= event.ubication %></td>
      <td>User: <%= event.user.name %></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

</div>
</div>