<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <tbody>
  <h4>Your events</h4>
  <tr>
    <th>
      Title
    </th>
    <th>
      Ubication
    </th>
    <th>
      Owner
    </th>
  </tr>
  <% @events_own.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.ubication %></td>
      <td><%= event.user.name %></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <hr>
<table>
  <tbody>
  <h4>Event where you are invited</h4>
  <tr>
    <th>
      Title
    </th>
    <th>
      Ubication
    </th>
    <th>
      Owner
    </th>
  </tr>
  <% @events_invited.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.ubication %></td>
      <td><%= event.user.name %></td>
      <td><%= link_to 'Show', event %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
