
<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class = "columna-blanca">
  <div class="columna-blanca" >
    <p id="notice"><%= notice %></p>

    <h1><%=@event.title %></h1>
    <% unless @event.event_banner_photo.attached? == false %>
      <%= image_tag(url_for(@event.event_banner_photo),wide: "400",height: "400") %>
    <% end %>
    <ul class="columna-blanca">
      <il>
        Ubication: <%= @event.ubication %>
      </il>
      <il>
        Owner: <%= @event.user.name %>
      </il>
      <il>
        Description: <%= @event.description %>
      </il>
      <il>
        Created at: <%= @event.created_at %>
      </il>
    </ul>

    <%if current_user.id == @event.user.id or current_user.admin%>
      <div><%= link_to 'Edit', edit_event_path(@event) %></div>
    <% end %>

    <div>
      <h3>Vote for date</h3>
      <div>
        <ul>
          <% @event.event_dates.each  do |event_date| %>
            <%= form_for :event_date_vote, :url => {:controller => "event_date_votes", :action => "create"} do |event_date_votes_form|%>

              <%= event_date_votes_form.text_field :user_id, value: current_user.id, type: "hidden" %>
              <%= event_date_votes_form.text_field :event_date_id, value: event_date.id, type: "hidden" %>
              <li class="form-group">
                <%= event_date_votes_form.submit(event_date.date) %>
              </li>
            <% end %>
          <% end %>
          <li>
            <%if current_user.id == @event.user.id or current_user.admin%>
              <%= form_for :event_date, :url => {:controller => "event_dates", :action => "create"} do |event_dates_form|%>

                <%= event_dates_form.text_field :event_id, value: @event.id, type: "hidden" %>

                <div class="form-group">
                  <%= event_dates_form.label :date %><br />
                  <%= event_dates_form.datetime_local_field :date, class: "form-control" %>
                  <%= event_dates_form.submit('Add') %>
                </div>
              <% end %>
            <%end %>
          </li>
        </ul>
      </div>
    </div>

    <h1>Event Files</h1>
    <div>
      <% @event.event_file.each do |file|%>
        <%= image_tag(url_for(file),wide: "100",height: "100") %>
      <% end %>
    </div>

    <h1>Comments</h1>
    <table class = "columna-blanca">
      <tr>
        <th>
          User
        </th>
        <th>
          Comment
        </th>
      </tr>
      <% @event.event_comments.each  do |comment| %>
        <tr>
          <td><%= comment.user.name%></td>
          <td class = "columna-blanca">
            <li><%= comment.message %></li>
            <li>
              <% unless comment.image.attached? == false %>
                <%= image_tag(url_for(comment.image),wide: "100",height: "100") %>
              <% end %>
            </li>
          </td>
          <td></td>
          <tr>
            <th></th>
            <th>User</th>
            <th>Reply</th>
          </tr>
          <% comment.comment_comments.each do |commentco| %>
          <tr>
            <td></td>
            <td><%= commentco.user.name%></td>
            <td class = "columna-blanca">
              <li><%= commentco.message %></li>
              <li>
                <% unless commentco.image.attached? == false %>
                  <%= image_tag(url_for(commentco.image),wide: "100",height: "100") %>
                <% end %>
              </li>
            </td>

          </tr>
          <%end %>
          <tr>
            <%= form_for :comment_comment, :url => {:controller => "comment_comments", :action => "create"} do |comment_comment_form|%>

              <%= comment_comment_form.number_field :user_id, value: current_user.id, type: "hidden" %>
              <%= comment_comment_form.number_field :event_comment_id, value: comment.id, type: "hidden" %>


            <tr class="form-group">
              <td></td>
              <td>
                <%= comment_comment_form.label :message %>
              </td>
              <td>
                <%= comment_comment_form.text_field :message, class: "form-control" %>

                <%= comment_comment_form.label :image %>
                <%= comment_comment_form.file_field :image, class: "form-control" %>
                <%= comment_comment_form.submit("Reply") %>
              </td>
            </tr>
          <% end %>
          </tr>
      <% end %>
      </tr>
      <%= form_for :event_comment, :url => {:controller => "event_comments", :action => "create"} do |comment_form|%>

        <%= comment_form.text_field :user_id, value: current_user.id, type: "hidden" %>
        <%= comment_form.text_field :event_id, value: @event.id, type: "hidden" %>

        <tr class="form-group">
          <td><%= comment_form.label :message %></td>
          <td>
            <%= comment_form.text_field :message, class: "form-control" %>

            <%= comment_form.label :image %>
            <%= comment_form.file_field :image, class: "form-control" %>
          </td>
          <td><%= comment_form.submit("Comment") %></td>
        </tr>
      <% end %>
    </table>
    <hr>
    <%= link_to 'Back', events_path %>
  </div>
  <dic class = "columna-blanca">
    <h3>Invitations</h3>
    <ul class="columna-blanca">
      <% @event.event_invitations.each  do |invitation| %>
        <il><%= invitation.user.name  %></il>
      <% end %>
    </ul>
    <% $ev = @event.id %>
    <%if current_user.id == @event.user.id or current_user.admin%>
      <div><%= link_to 'Invite more people', new_event_invitation_path() %></div>
    <% end %>

  </dic>
</div>
