
<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class = "columna-blanca">
  <div class="columna-blanca" >
    <p id="notice"><%= notice %></p>

    <h1><%=@event.title %></h1>
    <% unless @event.event_banner_photo.attached? == false %>
      <%= image_tag(url_for(@event.event_banner_photo),wide: "400",height: "400") %>
    <% end %>
    <ul class="columna-blanca">
      <il>
        Ubication: <%= @event.ubication %>
      </il>
      <il>
        Owner: <%= @event.user.name %>
      </il>
      <il>
        Description: <%= @event.description %>
      </il>
      <il>
        Created at: <%= @event.created_at %>
      </il>
    </ul>

    <div><%= link_to 'Edit', edit_event_path(@event) %></div>

    <div>
      <h3>Vote for date</h3>
      <div>
        <ul>
          <% @event.event_dates.each  do |event_date| %>
            <%= form_for :event_date_votes, :url => {:controller => "event_date_votes", :action => "create"} do |event_date_votes_form|%>

              <%= event_date_votes_form.text_field :user_id, value: 1, type: "hidden" %>
              <%= event_date_votes_form.text_field :event_date_id, value: 1, type: "hidden" %>
              <tr class="form-group">
                <%= event_date_votes_form.submit(event_date.date) %>
              </tr>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <h1>Comments</h1>
    <table class = "columna-blanca">
      <tr>
        <th>
          User
        </th>
        <th>
          Comment
        </th>
      </tr>
      <% @event.event_comments.each  do |comment| %>
        <tr>
          <td><%= comment.user.name%></td>
          <td><%= comment.message %></td>
          <td></td>
          <tr>
            <th></th>
            <th>User</th>
            <th>Reply</th>
          </tr>
          <% comment.comment_comments.each do |commentco| %>
          <tr>
            <td></td>
            <td><%= commentco.user.name%></td>
            <td><%= commentco.message %></td>
          </tr>
          <%end %>
          <tr>
            <%= form_for :comment_comment, :url => {:controller => "comment_comments", :action => "create"} do |comment_comment_form|%>

              <%= comment_comment_form.number_field :user, value: User.first, type: "hidden" %>
              <%= comment_comment_form.number_field :event_comment, value: comment, type: "hidden" %>

            <tr class="form-group">
              <td></td>
              <td>
                <%= comment_comment_form.label :message %>
              </td>
              <td>
                <%= comment_comment_form.text_field :message, class: "form-control" %>

                <%= comment_comment_form.label :image %>
                <%= comment_comment_form.file_field :image, class: "form-control" %>
                <%= comment_comment_form.submit("Reply") %>
              </td>
            </tr>
          <% end %>
          </tr>
      <% end %>
      </tr>
      <%= form_for :event_comment, :url => {:controller => "event_comments", :action => "create"} do |comment_form|%>

        <%= comment_form.text_field :user_id, value: User.first.id, type: "hidden" %>
        <%= comment_form.text_field :event_id, value: @event.id, type: "hidden" %>

        <tr class="form-group">
          <td><%= comment_form.label :message %></td>
          <td>
            <%= comment_form.text_field :message, class: "form-control" %>

            <%= comment_form.label :image %>
            <%= comment_form.file_field :image, class: "form-control" %>
          </td>
          <td><%= comment_form.submit("Comment") %></td>
        </tr>
      <% end %>
    </table>
    <hr>
    <%= link_to 'Back', events_path %>
  </div>
  <dic class = "columna-blanca">
    <h3>Invitations</h3>
    <ul class="columna-blanca">
      <% @event.event_invitations.each  do |invitation| %>
        <il><%= invitation.user.name  %></il>
      <% end %>
    </ul>
    <% $ev = @event.id %>
    <div><%= link_to 'Invite more people', new_event_invitation_path() %></div>

  </dic>
</div>
