<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>

<div class = "columna-blanca">
  <div class="columna-blanca" >
    <p id="notice"><%= notice %></p>

    <h1><%=@event.title %></h1>
    <% unless @event.event_banner_photo.attached? == false %>
      <%= image_tag(url_for(@event.event_banner_photo),wide: "400",height: "400") %>
    <% end %>
    <ul class="columna-blanca">
      <il>
        Ubication: <%= @event.ubication %>
      </il>
      <il>
        Owner: <%= @event.user.name %>
      </il>
      <il>
        Description: <%= @event.description %>
      </il>
      <il>
        Created at: <%= @event.created_at %>
      </il>
      <il>
        Issues with this event?:
        <button type="button" class="list-group-item"
                    data-toggle="collapse" data-target="#report"><h4><%= image_tag("Report.jpg",width: '70px') %><br />
          <i class="glyphicon glyphicon-inbox"></i></h4></button>
      </il>

      <li>
        <div id="report" class="collapse" >
          Write your reasons to report:
          <%= form_for :event_report, :url => {:controller => "event_reports", :action => "create"} do |f|%>

            <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
            <%= f.number_field :event_id, value: @event.id, type: "hidden" %>
            <tr class="form-group">

              <td>
                <%= f.text_field :message, class: "form-control" %>

                <%= f.submit("Submit report") %>
              </td>
            </tr>
          <% end %>
            </div>
      </li>
    </ul>

    <%if current_user.id == @event.user.id or current_user.admin%>
      <div><%= link_to 'Edit', edit_event_path(@event) %></div>
    <% end %>



    <div>
      <h3>Vote for date</h3>
      <div>
        <ul>
          <% @event.event_dates.each  do |event_date| %>
            <%= form_for :event_date_vote, :url => {:controller => "event_date_votes", :action => "create"} do |event_date_votes_form|%>

              <%= event_date_votes_form.text_field :user_id, value: current_user.id, type: "hidden" %>
              <%= event_date_votes_form.text_field :event_date_id, value: event_date.id, type: "hidden" %>
              <li class="form-group">
                <%= event_date_votes_form.submit(event_date.date) %>
              </li>
            <% end %>
          <% end %>
          <li>
            <%if current_user.id == @event.user.id or current_user.admin%>
              <%= form_for :event_date, :url => {:controller => "event_dates", :action => "create"} do |event_dates_form|%>

                <%= event_dates_form.text_field :event_id, value: @event.id, type: "hidden" %>

                <div class="form-group">
                  <%= event_dates_form.label :date %><br />
                  <%= event_dates_form.datetime_local_field :date, class: "form-control" %>
                  <%= event_dates_form.submit('Add') %>
                </div>
              <% end %>
            <%end %>
          </li>
        </ul>
      </div>
    </div>

    <h1>Event Files</h1>
    <div>
      <% @event.event_file.each do |file|%>
        <%= image_tag(url_for(file),wide: "100",height: "100") %>
      <% end %>
    </div>

    <h1>Comments</h1>
    <table class = "columna-blanca">
      <tr>
        <th>
          User
        </th>

        <th class = "columna-blanca">Comment</th>

      </tr>
      <% @event.event_comments.each  do |comment| %>
        <tr>
          <td><%= comment.user.name%></td>

          <td class = "columna-blanca">
            <li ><%= comment.message %></li>
            <li><div id=<%=String(comment.user.name)+String(comment.id)+"c" %> class="collapse">Write your reasons to report:
              <%= form_for :event_comment_report, :url => {:controller => "event_comment_reports", :action => "create"} do |f|%>

                <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
                <%= f.number_field :event_comment_id, value: comment.id, type: "hidden" %>
          <li class="form-group">

            <li>
              <%= f.text_field :message, class: "form-control" %>

              <%= f.submit("Submit report") %>
            </li>
          </li>
        <% end %></div></li>
            <li>
              <% unless comment.image.attached? == false %>
                <%= image_tag(url_for(comment.image),wide: "100",height: "100") %>
              <% end %>
            </li>
          </td>
          <td><button type="button" class="list-group-item" style="width:90px;height:50px;"
                      data-toggle="collapse" data-target="#<%=String(comment.user.name)+String(comment.id)+"c" %>"><h4><%= image_tag("Report.jpg",width: '60px') %><br />
            <i class="glyphicon glyphicon-inbox"></i></h4></button></td>
          <tr>
            <th></th>
            <th>User</th>
            <th>Reply</th>
          </tr>

          <% comment.comment_comments.each do |commentco| %>

          <tr>

            <td></td>
            <td><%= commentco.user.name%></td>
            <td >
              <li><%= commentco.message %> </li>
              <li><div id=<%=String(commentco.user.name)+String(commentco.id)+"cc" %> class="collapse"><br>Write your reasons to report:
                <%= form_for :comment_comment_report, :url => {:controller => "comment_comment_reports", :action => "create"} do |f|%>

                  <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
                  <%= f.number_field :comment_comment_id, value: commentco.id, type: "hidden" %>
                <li class="form-group">

                <li>
                  <%= f.text_field :message, class: "form-control" %>

                  <%= f.submit("Submit report") %>
                </li>
                </li>
          <% end %></div></li>
              <li>
                <% unless commentco.image.attached? == false %>
                  <%= image_tag(url_for(commentco.image),wide: "100",height: "100") %>
                <% end %>
              </li>
            </td>
            <td><button type="button" class="list-group-item" style="width:90px;height:50px;"
                        data-toggle="collapse" data-target="#<%=String(commentco.user.name)+String(commentco.id)+"cc" %>"><h4><%= image_tag("Report.jpg",width: '60px') %><br />
              <i class="glyphicon glyphicon-inbox"></i></h4></button></td></td>

          </tr>

          <%end %>
        </div>
          <tr>
            <%= form_for :comment_comment, :url => {:controller => "comment_comments", :action => "create"} do |comment_comment_form|%>

              <%= comment_comment_form.number_field :user_id, value: current_user.id, type: "hidden" %>
              <%= comment_comment_form.number_field :event_comment_id, value: comment.id, type: "hidden" %>


            <tr class="form-group">
              <td></td>
              <td>
                <button type="button" class="list-group-item" style="width:110px;height:50px;"
                        data-toggle="collapse" data-target="#<%=String(comment.user.name)+String(comment.id)+"m" %>"><h7>Reply!<br />
                  <i class="glyphicon glyphicon-inbox"></i></h7></button>
              </td>
              <td>
                <div id=<%=String(comment.user.name)+String(comment.id)+"m" %> class="collapse">
                <%= comment_comment_form.label :message %>
                <%= comment_comment_form.text_field :message, class: "form-control" %>
                <%= comment_comment_form.label :image %>
                <%= comment_comment_form.file_field :image, class: "form-control" %>
                <%= comment_comment_form.submit("Reply") %>
                </div>
              </td>
            </tr>
          <% end %>
          </tr>
      <% end %>
      </tr>
      <%= form_for :event_comment, :url => {:controller => "event_comments", :action => "create"} do |comment_form|%>

        <%= comment_form.text_field :user_id, value: current_user.id, type: "hidden" %>
        <%= comment_form.text_field :event_id, value: @event.id, type: "hidden" %>

        <tr class="form-group">
          <td>
            <button type="button" class="list-group-item" style="width:110px;height:50px;"
                    data-toggle="collapse" data-target="#m" ><h7>Comment!<br />
              <i class="glyphicon glyphicon-inbox"></i></h7></button>
          </td>
          <td>
            <div id="m"  class="collapse">
            <%= comment_form.label :message %>
            <%= comment_form.text_field :message, class: "form-control" %>

            <%= comment_form.label :image %>
            <%= comment_form.file_field :image, class: "form-control" %>
            <%= comment_form.submit("Comment") %>
            </div>
          </td>

          <td></td>
        </tr>
      <% end %>
    </table>
    <hr>
  </div>
  <div class = "columna-blanca">
    <h3>Invitations</h3>
    <ul class="columna-blanca">
      <% @event.event_invitations.each  do |invitation| %>
        <il><%= invitation.user.name  %></il>
      <% end %>
    </ul>
    <% $ev = @event.id %>
    <%if current_user.id == @event.user.id or current_user.admin%>
      <div><%= link_to 'Invite more people', new_event_invitation_path() %></div>
    <% end %>
  </div>
  <%= link_to 'Back', events_path %>
</div>
