<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-blanca" >

  <h1><%=@event.title %></h1>
  <% unless @event.bannerPhoto == nil %>
  <%= image_tag(@event.bannerPhoto,style:"with:500px; height:250px", :alt => "rss feed") %>
  <% end %>
  <table>
    <tbody>
    <tr>
      <th>
        Ubication
      </th>
      <th>
        Owner
      </th>
      <th>
        Description
      </th>
    </tr>
      <tr>
        <td><%= @event.ubication %></td>
        <td><%= @event.user.name %></td>
        <td><%= @event.description %></td>
      </tr>
    </tbody>
  </table>

  <h1>Comments</h1>
  <table>
    <tr>
      <th>
        User
      </th>
      <th>
        Comment
      </th>
    </tr>
    <% @event.event_comments.each  do |comment| %>
      <tr>
        <td><%= comment.user.name%></td>
        <td><%= comment.message %></td>
        <td></td>
        <tr>
          <th></th>
          <th>User</th>
          <th>Reply</th>
        </tr>
        <% comment.comment_comments.each do |commentco| %>
        <tr>
          <td></td>
          <td><%= commentco.user.name%></td>
          <td><%= commentco.message %></td>
        </tr>
        <%end %>
        <tr>
          <%= form_for :comment_comment, :url => {:controller => "comment_comments", :action => "create"} do |comment_comment_form|%>

            <%= comment_comment_form.text_field :user_id, value: User.first.id, type: "hidden" %>
            <%= comment_comment_form.text_field :event_comment_id, value: comment.id, type: "hidden" %>

          <tr class="form-group">
            <td></td>
            <td>
              <%= comment_comment_form.label :message %>
            </td>
            <td>
              <%= comment_comment_form.text_field :message, class: "form-control" %>

              <%= comment_comment_form.label :image %>
              <%= comment_comment_form.file_field :image, class: "form-control" %>
              <%= comment_comment_form.submit %>
            </td>
          </tr>
        <% end %>
        </tr>
    <% end %>
    </tr>
    <%= form_for :event_comment, :url => {:controller => "event_comments", :action => "create"} do |comment_form|%>

      <%= comment_form.text_field :user_id, value: User.first.id, type: "hidden" %>
      <%= comment_form.text_field :event_id, value: @event.id, type: "hidden" %>

      <tr class="form-group">
        <td><%= comment_form.label :message %></td>
        <td>
          <%= comment_form.text_field :message, class: "form-control" %>

          <%= comment_form.label :image %>
          <%= comment_form.file_field :image, class: "form-control" %>
        </td>
        <td><%= comment_form.submit %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <%= link_to 'Edit', edit_event_path(@event) %>
  <%= link_to 'Back', events_path %>
</div>

