<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
-->
<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-blanca" style="with:2000px">
<hr>
<h3>Upcoming events!!!</h3>

  <% @user_events.each  do |v| %>
    <hr>
    <h2><%= v.title%></h2>
    <%= image_tag(v.bannerPhoto,style:"with:500px; height:250px", :alt => "rss feed") %>

  <table>
    <tr class="columna-blanca">
      <td>Ubication: <%= v.ubication %></td>
      <td>Owner: <%= v.user.name %></td>
      <td><%= link_to 'Show', v %></td>
    </tr>
  </table>
    <hr color="black">
  <% end %>
</div>