<%= form_with(model: comment_comment, local: true) do |form| %>
  <% if comment_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_comment.errors.count, "error") %> prohibited this comment_comment from being saved:</h2>

      <ul>
        <% comment_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :event_comment %>
    <%= form.collection_select :event_comment_id, EventComment.all, :id, :message, include_blank: true %>
  </div>
  <div class="form-group">
    <%= form.label :User %>
    <%= form.collection_select :user_id, User.all, :id, :name, include_blank: true %>
  </div>
  <div class="form-group">
    <%= form.label :Message %>
    <%= form.text_area :message, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
