<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'navigation', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-azul">
  <div class="columna-blanca">

    <h1>Organizations</h1>
    <h4>Your organizations</h4>
    <% @organizations_own.each do |org| %>
      <h3><%= org.name %></h3>
      <% unless org.organization_banner_photo.attached? == false %>
        <%= image_tag(url_for(org.organization_banner_photo),wide: "400",height: "400") %>
      <% end %>
      <ul class="columna-blanca">
        <li><%= org.name %></li>
        <li><%= org.description %></li>
        <li><%= org.created_at %></li>
        <li><%= link_to 'Show', org %></li>
      </ul>
    <% end %>
    <%= link_to 'New Organization', new_organization_path %>
  </div>

    <hr>

  <div class="columna-blanca">
    <h4>Organizations where you participate</h4>
    <% @organizations_invited.each do |org| %>
      <h3><%= org.name %></h3>
      <% unless org.organization_banner_photo.attached? == false %>
        <%= image_tag(url_for(org.organization_banner_photo),wide: "400",height: "400") %>
      <% end %>
      <ul class="columna-blanca">
        <li><%= org.name %></li>
        <li><%= org.description %></li>
        <li><%= org.created_at %></li>
        <li><%= link_to 'Show', org %></li>
      </ul>
    <% end %>

  </div>

</div>