<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <tbody>
  <tr>
    <th>
      Name
    </th>
    <th>
      Description
    </th>
    <th>
      Date of creation
    </th>
  </tr>
  <h4>Your organizations</h4>
  <% @organizations_own.each do |org| %>
    <tr>
      <td><%= org.name %></td>
      <td><%= org.description %></td>
      <td><%= org.created_at %></td>
      <td><%= link_to 'Show', org %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr>
<table>
  <tbody>
  <tr>
    <th>
      Name
    </th>
    <th>
      Description
    </th>
    <th>
      Date of creation
    </th>
  </tr>
  <h4>Organizations where you participate</h4>
  <% @organizations_invited.each do |org| %>
    <tr>
      <td><%= org.name %></td>
      <td><%= org.description %></td>
      <td><%= org.created_at %></td>
      <td><%= link_to 'Show', org %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
