
<head>
  <%= stylesheet_link_tag 'navigation', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-blanca">

  <h1>New Organization</h1>
  <%= form_with(model: @organizatio, local: true) do |form| %>
  <%= form.text_field :user_id, value: User.first.id, type: "hidden" %>
  <%= render 'form', organization: @organization %>
  <% end %>
  <%= link_to 'Back', organizations_path %>

</div>