<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'navigation', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-blanca">

  <h1><%=@organization.name %></h1>
  <img src=org alt="Organization image" style="with:500px; height:250px" border="2px">

  <ul class="columna-blanca">
    <li>Owner: <%= @organization.user.name %></li>
    <li>Description: <%= @organization.description %></li>
  </ul>


  <%= link_to 'Edit', edit_organization_path(@organization) %>
  <%= link_to 'Back', organizations_path %>
</div>