<%= form_with(model: organization_event, local: true) do |form| %>
  <% if organization_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization_event.errors.count, "error") %> prohibited this organization_event from being saved:</h2>

      <ul>
        <% organization_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :event_id, value: 1 %>
  <div class="field">
    <%= form.label :organization_id %><br />
    <%= form.collection_select :organization_id, Organization.where(id: OrganizationMember.where(user_id: 1).select(:organization_id)), :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
