<div class="row ml-0">
  <%= form_with(model: event, local: true) do |form| %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event_file from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: User.first.id %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :ubication %>
      <%= form.text_area :ubication, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div class="form-group">
      <%= form.label :decition %>
      <%= form.select :decition, [["hola e.e",1], ["chao e.e",2]] %>
    </div>
    <div class="form-group">
      <%= form.label :bannerPhoto %>
      <%= form.text_field :bannerPhoto, class: "form-control" %>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add event date</h5>
        <p>You need to add a event date to your newly created event</p>
        <%=form.fields_for :event_dates do |event_dates_form| %>
          <div class="form-group">
            <%= event_dates_form.label :date %>
            <%= event_dates_form.datetime_local_field :date, class: "form-control" %>
            <% if action_name == 'edit' %>
              <%= event_dates_form.label "Delete"%>
              <%= event_dates_form.check_box :_destroy %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>


    <div class="actions">
      <%= form.submit %>

    </div>
  <% end %>
</div>
