<p id="notice"><%= notice %></p>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="columna-azul">

<div class="columna-blanca">

  <h1 class="center">Every Comment</h1>
  <% @events.each do |event| %>
    <table>
      <h2><%=event.title %></h2>
        <% event.event_comments.each  do |comment| %>
          <tr>
            <td><%= comment.user.name%></td>
            <td><%= comment.message %></td>
            <td><%= button_to 'Edit', edit_event_comment_path(comment), method: :get %></td>
            <td><%= button_to 'Destroy', event_comment_path(comment) , method: :delete%></td>
            <% comment.comment_comments.each do |commentco| %>
            <tr>
              <td><%= commentco.user.name%></td>
              <td><%= commentco.message %></td>
              <td><%= button_to 'Edit', edit_comment_comment_path(commentco), method: :get  %></td>
              <td><%= button_to 'Destroy', comment_comment_path(commentco) , method: :delete%></td>
            </tr>
          <%end %>
          </tr>

        <%end %>
    </table>
  <% end %>
  <h3 class="center">New Comment</h3>
  <%= button_to 'New Created Comment', href="http://localhost:3000/event_comments/new", method: :get  %>
  <%= button_to 'New Created Comment on other Comment', href="http://localhost:3000/comment_comments/new", method: :get %>
</div>
<div class="columna-blanca">
  <h1 class="center">Every Organization</h1>
  <% @organizations.each do |orga| %>
    <tr>
      <td><%= orga.user.name%></td>
      <td><%= orga.name %></td>
      <td><%= button_to 'Edit', edit_organization_path(orga) , method: :get %></td>
      <td><%= button_to 'Destroy', organization_path(orga) , method: :delete%></td>

    </tr>
  <% end %>
  <br>
  <tr></tr>
  <h3 class="center">New Organization</h3>
  <%= button_to 'New Organization', href="http://localhost:3000/organizations/new", method: :get %>
<br>

</div>
  <div class="columna-blanca">

    <h1 class="center">All the Events</h1>
    <% @events.each do |event| %>

      <h2 class="columna-blanca"><%=event.title %></h2>
      <ul class="columna-blanca">
        <li>Ubication: <%= event.ubication %></li>
        <li>User: <%= event.user.name %></li>
        <li>Mail: <%= event.user.email %></li>
        <li><%= button_to 'Show', event, method: :get  %></li>
        <li><%= button_to 'Edit', edit_event_path(event), method: :get %></li>
        <li><%= button_to 'Destroy', event_path(event) , method: :delete%></li>
      </ul>
    <% end %>
    <h3 class="center">New Event</h3>
    <%= button_to 'New Event', new_event_path %>

  </div>
  <div class="columna-blanca">

    <h1 class="center">All the Users</h1>
    <% @users.each do |us| %>

      <h2 class="columna-blanca"><%=us.name %></h2>
      <ul class="columna-blanca">
        <li>User: <%= us.name %></li>
        <li>Mail: <%= us.email %></li>
        <li><%= button_to 'Show', user_path(us) , method: :get%></li>
        <li><%= button_to 'Edit', edit_user_path(us) , method: :get %></li>
        <li><%= button_to 'Destroy', user_path(us) , method: :delete%></li>
      </ul>
    <% end %>
    <h3 class="center">New User</h3>
    <%= button_to 'New User', href="http://localhost:3000/users/new", method: :get %>

  </div>
</div>

