<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <tr>
    <h1>
      <td  style="justify-content: center"><%= link_to 'THE EVENTBOOK', root_path %></td>
    </h1>
  </tr>
</header>

<div class="columna-azul">

  <div class="linea-azul">

    <%if user_signed_in? %>
      <aside>
        <ul class="columna-azul">
          <li class="item"><%= link_to 'Profile', User.first %></li>
          <li class="item"><%= link_to 'Events', events_path %></li>
          <li class="item"><%= link_to 'Organizations', organizations_path %></li>
          <li class="item"><%= link_to 'Admin', "http://localhost:3000/admin" %></li>
          <li class="item"><%= link_to 'Search', new_search_path%></li>
          <li class="item"><%= link_to 'Sign out', destroy_user_session_path, :method => "delete"%></li>
        </ul>
      </aside>

    <% else %>
      <aside>
        <ul class="columna-azul">
          <li class="item"><%= link_to "Sign in", user_session_path, class: ["btn", "btn-primary"] %></li>
          <li class="item"><%= link_to "Sign up", href="/users/sign_up", class: ["btn", "btn-primary"] %></li>
        </ul>
      </aside>
    <% end %>

    <body>

    <%= yield %>
    </body>


  </div>
</div>

<footer class="columna-blanca">
  <p>Contact us!!!</p>
  <p>Mail: some.email@holaew.com</p>
  <p>Phone: +569245451</p>
</footer>

</html>
