<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1>
    <td><%= link_to 'THE EVENTBOOK', root_path %></td>
  </h1>
</header>

<div class="columna-azul">

<div class="linea-azul">

  <aside>
    <ul class="columna-azul">
      <li class="item"><%= link_to 'Profile', User.first %></li>
      <li class="item"><%= link_to 'Events', events_path %></li>
      <li class="item"><%= link_to 'Organizations', organizations_path %></li>
      <li class="item"><%= link_to 'Admin', "http://localhost:3000/admin" %></li>
    </ul>
  </aside>

  <body >
    <%= yield %>
  </body>

</div>

<footer class="columna-blanca">
  <p>Hola e.e</p>
</footer>

</div>
</html>
