<!DOCTYPE html>
<html>
<header>
  <h1>
    <td><%= link_to 'THE EVENTBOOK', root_path %></td>
  </h1>
</header>
<nav id="navbar">
  <ul>
    <li><%= link_to 'Profile', users_path %></li>
    <li><%= link_to 'Events', events_path %></li>
    <li><%= link_to 'Organizations', organizations_path %></li>
  </ul>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
