<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'navigation', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1>
    <td><%= link_to 'THE EVENTBOOK', root_path %></td>
  </h1>
</header>

<nav class="navbar">
  <ul class="flex-navbar">
    <li class="navbar-item"><%= link_to 'Profile', User.first %></li>
    <li class="navbar-item"><%= link_to 'Events', events_path %></li>
    <li class="navbar-item"><%= link_to 'Organizations', organizations_path %></li>
  </ul>
</nav>

  <body>
    <%= yield %>
  </body>

<footer>
  <p>Arance hcupalo</p>
</footer>
</html>
