<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'global', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <tr>
    <h1>
      <td  style="justify-content: center"><%= link_to 'THE EVENTBOOK', root_path %></td>
    </h1>
  </tr>
</header>

<div class="columna-azul">

  <div class="linea-azul">

    <aside>
      <ul class="columna-azul">
        <li class="item"><%= link_to 'Profile', User.first %></li>
        <li class="item"><%= link_to 'Events', events_path %></li>
        <li class="item"><%= link_to 'Organizations', organizations_path %></li>
        <li class="item"><%= link_to 'Admin', "http://localhost:3000/admin" %></li>
        <li class="item"><%= link_to 'Search', new_search_path%></li>
      </ul>
    </aside>

    <body>
      <%= yield %>
    </body>

  </div>
</div>

<footer class="columna-blanca">
  <p>Contact us!!!</p>
  <p>Mail: some.email@holaew.com</p>
  <p>Phone: +569245451</p>
</footer>

</html>
