<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>




<style>
  .icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
  }
  .glyphicon.glyphicon-log-out {
    font-size: 20px;
  }
</style>
<div >
  <% if @over_5 %>
    <%= link_to 'Show All', '?m=all', class: 'btn btn-link pull-right' %>
  <% end %>
  <%= link_to '<i class="glyphicon glyphicon-log-out icon-flipped"></i>'.html_safe,
              '/conversations', { :class => 'tooltips, btn btn-link', 'data-toggle' => 'tooltip',
                                  'data-placement' => 'right', :title => 'Back To Inbox' } %>
  <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
  <% if @msgs.nil?%>
  No messages yet!

  <%else %>

    <% @msgs.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="panel-heading">
            <div class="header"><strong><%=link_to user.name, user_path(user) %> </strong><%= message.msg_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%end %>

</div>

<div >
  <%= form_for [@conversation, @msg] do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div class="form-group">
      <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
    </div>
  <% end %>
</div>
